---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Our Blogs">
  <section class="section">
    <div class="container text-center">
      <h1>Our Blogs</h1>
      <p>Stories from our travels and expert tips. Coming soon.</p>
      <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
  </section>
</Layout>
