---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Flights">
  <section class="section">
    <div class="container text-center">
      <h1>Flights</h1>
      <p>Book your flights with ease. Coming soon.</p>
      <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
  </section>
</Layout>
