---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Travel Packages">
  <section class="section">
    <div class="container text-center">
      <h1>Travel Packages</h1>
      <p>Exclusive travel packages curated just for you. Coming soon.</p>
      <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
  </section>
</Layout>
