---
import Layout from '../../layouts/Layout.astro';
import LoginForm from '../../components/admin/LoginForm';
import './_admin.scss';
---

<Layout title="Admin Login">
  <div class="admin-layout">
    <LoginForm client:only="react" />
  </div>
</Layout>
