---
import './Header.scss';
---
<header class="header">
  <nav class="navbar container">
    <a href="/" class="logo">MEMORIES</a>
    
    <ul class="nav-links">
      <li><a href="/packages">PACKAGES</a></li>
      <li><a href="/tours">TOURS</a></li>
      <li><a href="/flights">FLIGHTS</a></li>
      <li><a href="/about">ABOUT US</a></li>
      <li><a href="/blogs">BLOGS</a></li>
    </ul>

    <div class="header-contact">
      <span class="phone">+51 984 544 245</span>
      <div class="social-links">
        <a href="#">IG</a>
        <a href="#">FB</a>
        <a href="#">WA</a>
      </div>
    </div>
  </nav>
</header>
